<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="div_1" id="scrollspyHeading1">
        <img src="{% static 'image/female-dentist-with-dentistry-tools-isolated.jpg' %}" alt="dental_image" style="height:100%; width: 100%;">
    </div>
    <div class="div_2" id="scrollspyHeading2" style="width:30%; height:50%; margin-left:15%; margin-top:3%">
        <div style="position: absolute; left: 10%;">
            <p style="font-size: 20px">LET US BRIGHTEN<br>YOUR SMILE</p>
            <p style="width: 50%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.</p>
            <a class="nav-item"><button type="button" class="btn btn-primary active" id="button_1" data-bs-toggle="button" aria-pressed="true">Make Appointment</button></a>
        </div>
        <div style="position: absolute; left:60%">
            <p style="color: #79E0EE;">About Us</p>
            <p><strong>True Healthcare For Your Family</strong></p>
            <p style="width: 70%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.</p>
        </div>
    </div>
    <div class="div_3" id="scrollspyHeading3" style="background-color: #cfccd3; margin-top: 300px; padding-bottom:43px;">
        <p style="text-align:center; font-size: 25px; padding-top: 50px;">OUR SERVICES</p>
        <table id="myTable" style="margin-right: auto; margin-left: auto; border-collapse: separate; border-spacing: 1em 1em; width: 75%">
            <tbody>
                <tr>
                    <td style="background-color: white;">
                        <div>
                            <img src="{% static 'image/Screenshot 2023-06-19 162842.png' %}" alt="image_2" style="height:30px; width:30px; margin-left: 47%; margin-top: 3%;">
                            <p style="text-align:center;"><strong>Alignment Specialist</strong></p>
                            <p style="margin-left:20%; width: 60%; text-align:center;">Lorem ipsum dolor sit amet,elit.</p>
                        </div>
                    </td>
                    <td style="background-color: white;">
                        <div>
                            <img src="{% static 'image/image-3.png' %}" alt="image_2" style="height:30px; width:30px; margin-left: 47%; margin-top: 3%;">
                            <p style="text-align:center;"><strong>Cosmetic Dentistry</strong></p>
                            <p style="margin-left:20%; width: 60%; text-align:center;">Lorem ipsum dolor sit amet,elit.</p>
                        </div>
                    </td>
                    <td style="background-color: white;">
                        <div>
                            <img src="{% static 'image/image-4.png' %}" alt="image_2" style="height:30px; width:30px; margin-left: 47%; margin-top: 3%;">
                            <p style="text-align:center;"><strong>Oral Hygiene Experts</strong></p>
                            <p style="margin-left:20%; width: 60%; text-align:center;">Lorem ipsum dolor sit amet,elit.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: white;">
                        <div>
                            <img src="{% static 'image/image-5.png' %}" alt="image_2" style="height:30px; width:30px; margin-left: 47%; margin-top: 3%;">
                            <p style="text-align:center;"><strong>Root Canal Specialist</strong></p>
                            <p style="margin-left:20%; width: 60%; text-align:center;">Lorem ipsum dolor sit amet,elit.</p>
                        </div>
                    </td>
                    <td style="background-color: white;">
                        <div>
                            <img src="{% static 'image/image-6.png' %}" alt="image_2" style="height:30px; width:30px; margin-left: 47%; margin-top: 3%;">
                            <p style="text-align:center;"><strong>Live Dental Advisory</strong></p>
                            <p style="margin-left:20%; width: 60%; text-align:center;">Lorem ipsum dolor sit amet,elit.</p>
                        </div>
                    </td>
                    <td style="background-color: white;">
                        <div>
                            <img src="{% static 'image/image-7.png' %}" alt="image_2" style="height:30px; width:30px; margin-left: 47%; margin-top: 3%;">
                            <p style="text-align:center;"><strong>Cavity Inspection</strong></p>
                            <p style="margin-left:20%; width: 60%; text-align:center;">Lorem ipsum dolor sit amet,elit.</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="div_4" style="padding-top:50px;">
        <p style="text-align:center; font-size: 30px">WORK PROCESS</p>
        <div style="text-align: center;">
            <ul style="display: inline-block; text-align: left;">
                <li style="display:inline;">
                    <div style="display: grid; align-items: center; grid-template-columns: 1fr 1fr;">
                        <div>
                            <img src="{% static 'image/image-8.jpg' %}" alt="image-8" style="width: 300px; height: 300px; margin-top:20px">
                        </div>
                        <div>
                            <p style="color: #79E0EE;">Cosmetic Dentistry</p>
                        </div>
                    </div>
                    <p style="margin-left: 5%">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
                <li style="display:inline;">
                    <div style="display: grid; align-items: center; grid-template-columns: 1fr 1fr;">
                        <div>
                            <img src="{% static 'image/image-9.jpg' %}" alt="image-9" style="width: 300px; height: 245px; margin-top:20px; margin-left: 26%;">
                        </div>
                        <div>
                            <p style="padding-left: 33%; color: #79E0EE;">Pediatric Dentistry</p>
                        </div>
                    </div>
                    <p style="margin-left: 19%">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
                <li style="display:inline;">
                    <div style="display: grid; align-items: center; grid-template-columns: 1fr 1fr;">
                        <div>
                            <img src="{% static 'image/image-10.jpg' %}" alt="image-10" style="width: 300px; height: 300px; margin-top:20px">
                        </div>
                        <div>
                            <p style="color: #79E0EE;">Dental Implants</p>
                        </div>
                    </div>
                    <p style="margin-left: 5%">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="div_5" id="scrollspyHeading4" style="background-color:#cfccd3; padding-top:50px; padding-bottom: 50px;">
        <p style="text-align:center; font-size: 30px">SATISFIED CLIENTS</p>
        <div style="text-align: center;">
            <ul style="display: inline-block; text-align: left; padding-left: 0">
                <li style="display: inline; padding: 10px;">
                    <div style="display: inline-block; background-color:#ffffff; width:286px; height:186px; margin-top:20px">
                        <img src="{% static 'image/image-11.png' %}" alt="image-11" style="border-radius: 50%; width:50px; height: 50px; margin-left: auto; margin-top: 2%; display: block; margin-right: auto;">
                        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.</p>
                        <p style="text-align:center;"><strong>User Name</strong></p>
                    </div>
                </li>
                 <li style="display: inline; padding: 10px;">
                    <div style="display: inline-block; background-color:#ffffff; width: 286px; height: 186px; margin-top:20px">
                        <img src="{% static 'image/image-11.png' %}" alt="image-11" style="border-radius: 50%; width:50px; height: 50px; margin-left: auto; margin-top: 2%; display: block; margin-right: auto;">
                        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.</p>
                        <p style="text-align:center;"><strong>User Name</strong></p>
                    </div>
                </li>
                 <li style="display: inline; padding: 10px;">
                    <div style="display: inline-block; background-color:#ffffff; width: 286px; height: 186px; margin-top:20px">
                        <img src="{% static 'image/image-11.png' %}" alt="image-11" style="border-radius: 50%; width:50px; height: 50px; margin-left: auto; margin-top: 2%; display: block; margin-right: auto;">
                        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.</p>
                        <p style="text-align:center;"><strong>User Name</strong></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="div_6" id="scrollspyHeading5" style="background-color: #9BABB8">
        <div style="text-align: center;">
            <ul style="display: inline-block; text-align: left; padding-left: 0;">
                <li style="display: inline; padding: 10px;">
                    <div style="display: inline-block; background-color:#9BABB8; width:200px; height:100px; margin-top:20px">
                        <img src="{% static 'image/image-12.png' %}" alt="image-11" style="border-radius: 50%; width:50px; height: 50px; margin-left: auto; margin-top: 2%; display: block; margin-right: auto;">
                        <p style="text-align:center; padding-top:2px; margin-bottom: 2px;"><strong>Contact Number</strong></p>
                        <p style="text-align:center; font-size:11px">+123-456-7890</p>
                    </div>
                </li>
                <li style="display: inline; padding: 10px;">
                    <div style="display: inline-block; background-color:#9BABB8; width: 200px; height: 100px; margin-top:20px">
                        <img src="{% static 'image/image-13.png' %}" alt="image-11" style="border-radius: 50%; width:50px; height: 50px; margin-left: auto; margin-top: 2%; display: block; margin-right: auto;">
                        <p style="text-align:center; margin-bottom: 2px;"><strong>Our Address</strong></p>
                        <p style="text-align:center; font-size:11px">Iraq-Baghdad</p>
                    </div>
                </li>
                <li style="display: inline; padding: 10px;">
                    <div style="display: inline-block; background-color:#9BABB8; width: 200px; height: 100px; margin-top:20px">
                        <img src="{% static 'image/image-14.png' %}" alt="image-11" style="border-radius: 50%; width:50px; height: 50px; margin-left: auto; margin-top: 2%; display: block; margin-right: auto;">
                        <p style="text-align:center; margin-bottom: 2px;"><strong>Opening Hours</strong></p>
                        <p style="text-align:center; font-size:11px">00:7am to 10:00pm</p>
                    </div>
                </li>
                <li style="display: inline; padding: 10px;">
                    <div style="display: inline-block; background-color:#9BABB8; width: 200px; height: 100px; margin-top:20px">
                        <img src="{% static 'image/image-15.png' %}" alt="image-11" style="border-radius: 50%; width:50px; height: 50px; margin-left: auto; margin-top: 2%; display: block; margin-right: auto;">
                        <p style="text-align:center; margin-bottom: 2px;"><strong>Our Email</strong></p>
                        <p style="text-align:center; font-size:11px">Helloworld@gmail.com</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}